<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@300;400;600&family=Oswald&family=Roboto&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>D-Library</title>
</head>
<body>
    <div class="container">
        <div class="logo"><img src="./img/Logo-d-library.png" alt=""></div>
        <div class="text">
            <h2>Bienvenido a la nueva biblioteca virtual</h2>
            <div class="boton">
                <a href="/menu"><button>Entrar</button></a>
            </div>
        </div>
    </div>
    <footer>
        <div class="logo2">
            <img src="./img/digitize.png" alt="">
        </div>
    </footer>
</body>
</html>