<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@300;400;600&family=Oswald&family=Roboto&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <script src="https://kit.fontawesome.com/d7854b1267.js" crossorigin="anonymous"></script>
    <title>D-Library</title>
</head>
<body>
    <div class="contenedor">  
        <div class="title"><h1>D-Library</h1></div>
        <div class="newlib">
            <h3>Agregar libro</h3><a href="/subir"><button id="boton" class="boton"><i class="fa-solid fa-plus"></i></button></a>
        </div>
        <div class="texto">
           <h3>Libros disponibles</h3>
        </div> 
        <div class="buscar">
            <input type="search" placeholder="Buscar">
            <div class="btn-lupa">
                <i class="fas fa-search"></i>
            </div> 
        </div>
        <div class="libros">
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
        </div>
    </div>
    <div class="volver">
        <a href="/"><img src="" alt=""></a>
    </div>
</body>
</html>