<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@300;400;600&family=Oswald&family=Roboto&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <script src="https://kit.fontawesome.com/d7854b1267.js" crossorigin="anonymous"></script>
    <title>D-Library</title>
</head>
<body>
    <div class="contenedor">  
        <div class="title"><h1>D-Library</h1></div>
        <div class="form-container" id="form-cont">
            <div class="formulario">
                <div class="formtop">
                    <div class="btn-cerrar" id="btn-c">
                        <button id="boton" class="boton" onclick="ocultar()"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <h2 id="title-form">Nuevo libro</h2>
                    <p>Aqui debe ingresar los datos del libro</p>
                </div>
                <form action="" method="post">
                    <input type="text" name="namelib" id="namelib" placeholder="Ingrese el Titulo" required>
                    <input type="text" name="desc" id="desc" placeholder="Ingrese una descripción">
                    <select name="categoria" id="categoria" required>
                        <option value="">Categorias</option>
                        <option value="hist">Historia</option>
                        <option value="lit">Literatura</option>
                        <option value="mat">Matematicas</option>
                        <option value="bio">Biologia</option>
                        <option value="otro">Otros</option>
                    </select>
                    <div class="file-lib">
                        <input type="file" name="lib" id="lib" required>
                    </div>
                    <div class="btn-send">
                        <button type="submit" class="btn-libro btn-a"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </form>
                </div>
                </div>
        <div class="newlib">
            <h3>Agregar libro</h3><button id="boton" class="boton" onclick="mostrar()"><i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="texto">
           <h3>Libros disponibles</h3>
        </div> 

        <!--Barra de Busqueda-->
        <div class="buscar">
            <input type="search" placeholder="Buscar" id="barraBusqueda"></input>
            <div class="btn-lupa">
                <i class="fas fa-search"></i>
            </div> 
        </div>
        <script>
            $(buscarDatosBarra());

            function buscarDatosBarra(consulta){
                $.ajax({
                    url: 'busqueda.php', 
                    type: 'POST',
                    dataType: 'default',
                    data: {consulta: consulta},
                })
                .done(function(respuesta) {
                    $('#datos').html(respuesta); 
                })
                .fail(function() {
                    console.log("error"); 
                })
            }

        $(document).on('keyup, '#barraBusqueda', function(){
            var valor = $(this).val(); 

            if(valor != 0){
                buscarDatosBarra(valor); 
            } else {
                buscarDatosBarra();
            }
        });  
        </script>
        <!--Fin barra de busqueda-->
        <div class="libros">
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
            <div class="lib">
                <div class="foto"></div>
                <div class="nombrelib"><h4>Titulo</h4></div>
            </div>
        </div>
    </div>
    <footer>
        <a href="/"><i class="fa-solid fa-arrow-rotate-left"></i></a>
    </footer>
    <script>
function ocultar() {
        document.getElementById("form-cont").style.display = "none";
      }
    function mostrar() {
        document.getElementById("form-cont").style.display = "flex";
      } 
    </script>
</body>
</html>