*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(./img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 96.3vh;
}
.contenedor{
    width: 90%;
    height: 85%;
    background-color: #f8f9fa;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    margin-top: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: #fd703b;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
}
.newlib{
    width: 80%;
    height: 55px;
    display: flex;
    background-color: #fe9b3d;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.newlib h3{
    width: 60%;
    display: flex;
    color: #F8F9FA;
    font-size: 24px;
    margin-left: 6%;
    justify-content: left;
    align-items: center;
}
.newlib button, a{
    width: 30%;
    display: flex;
    background: none;
    color: #F8F9FA;
    border: none;
    justify-content: right;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
}

.form-container{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 80%;
    backdrop-filter: blur(3px);
    margin-top: 9%;
    margin-left: -5%;
}
.formulario{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: #2B2D42;
    margin-top: -25%;
    filter: drop-shadow(5px 5px 15px #F8F9FA);
    border-radius: 15px;
    text-align: center;
    color: #F8F9FA;
}

.btn-cerrar, #a2{
    display: flex;
    width: 80%;
    height: 25px;
    align-items: center;
    justify-content: right;
    margin: 20px auto auto;
    cursor: pointer;
}
.btn-cerrar button{
    font-size: 28px;
    color: #FE9B3D;
    background: none;
    border: none;
}
#title-form{
    margin: 15px auto;
    font-size: 28px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
form input{
    width: 65%;
    height: 30px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:#fd703b;
    margin-top: 25px;
}
form input::placeholder{
    color: #F8F9FA;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
select{
    display: flex;
    width: 65%;
    height: 25px;
    background-color: #4a4e69;
    border-radius: 10px;
    border: none;
    color: #F8F9FA;
    font-size: 16px;
    margin-top: 15px;
}
.file-lib {
    position: relative;
    display: inline-block;
    margin-top: 25px;
  }
  
  .file-lib::before {
    background-color: #FE9B3D;
    color: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    content: 'Seleccione el libro'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .file-lib input[type="file"] {
    opacity: 0;
    width: 220px;
    height: 20px;
    display: inline-block;
  }
  #lib::before {
    content: 'Seleccionar Archivo 1';
  }
.texto{
    display: flex;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    color: #212529;
    justify-content: center;
    font-size: 20px;
}
.btn-send{
    display: flex;
    width: 100%;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
}
.btn-send button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1E1E1E;
    color: #FE9B3D;
    font-size: 36px;
    border: none;
}
.btn-send button:hover{
    background-color: #4a4e69;
    transition: 0.5s;
}
.buscar{
    display: flex;
    width: 70%;
    height: 35px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    border-radius: 25px;
}

.buscar input{
    width: 0;
    height: 35px;
    font-size: 16px;
    color: #F8F9FA;
    outline: none;
    border: none;
    border-radius: 15px;
    background: none;
    transition: all 0.5s ease;
}
.buscar input::placeholder{
    color: #FE9B3D;
}
.btn-lupa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 48px;
    background-color: #FE9B3D;
    border-radius: 50%;
    color: #F8F9FA;
    font-size: 22px;
    cursor: pointer;
}
.buscar:hover input{
    width: 80%;
    margin-left: 10px;
}
.buscar:hover{
    background-color: #22577a;
}
.libros{
    display: grid;
    grid-template-columns: 50% 50% ;
    width: 80%;
    height: 95%;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    overflow-y: scroll;
}
.lib{
    width: 120px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
}
.foto{
    width: 100%;
    height: 85%;
    background-color: #F4A261;
    border-radius: 5px;
}
.nombrelib{
    width: 100%;
    margin-top: 2%;
    text-align: center;
}
footer{
    display: flex;
    width: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
footer i{
    font-size: 45px;
}